---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Eric McCormick</h1>
      <h2 class="text-base dark:text-white">Neenah, Wisconsin | USA</h2>
    </div>

    <div id="work" class="mb-6">
      <SectionTitle title="Working experience" />

      <RowEntry
        description="Full-stack JavaScript developer, providing new feature development, bug fixes, architectural support, and enhancements for a high availability dstributed system of applicaitons. Front end work with Angular and TypeScript with high testing coverage and back end work in Node.js with TypeScript. AWS Lambda based serverless stack with lambda, serverless framework, DynamoDB, Redis, and PostgreSQL database use and support along with AWS suite of cloud services. Builds on Jenkins with GitHub Enterprise source control and Jira issue tracking."
        name="Feb 2020 — Current"
        title="Senior Software Developer"
        subTitle="@ DRC (Data Recognition Corporation) | remote"
      />

      <RowEntry
        description="Full-stack JavaScript developer, providing new feature development, issue remediation, and support for a high availability application. Front ends work consists of applications built on Angular with micro services driving the back-ends, with deployments on AWS lambda, with the serverless framework, MS SQL db, and Athena data. AWS console, step functions, athena reporting, and logging, in addition to Docker built images for deployments, built on Jenkins. TypeScript with both back-end and front-ends, amongst other tooling."
        name="May 2019 — Feb 2020"
        title="Senior Software Developer"
        subTitle="@ TASC (Total Administrative Services Corporation) | remote"
      />

      <RowEntry
        description="Full stack Java and JavaScript developer with a deep understanding of RDBMS and SQL, MariaDB/MySQL and MSSQL, Java 8 and Spring, and front-end frameworks, such as Angular. Also build a front-end build pipeline and provided support for Docker images, Jenkins builds, AWS console, and deployments."
        name="July 2017 — May 2019"
        title="Software Developer"
        subTitle="@ TASC (Total Administrative Services Corporation) | remote"
      />

      <RowEntry
        description="Full-stack web app and systems integration developer. Working with IBM XPages (XSP + JSF) and Node.js on the back-end of the stack, along with Dojo, jQuery, and Angular, vue.js and other various front-end frameworks. Implemented custom build and continuous deployment process. Custom productivity, progress tracking, and forecasting applications for use with company-wide initiative for a highly distributed company. Named an IBM Champion for three years running in recognition of conference speaking and other community efforts."
        name="Nov 2011 — Jun 2017"
        title="Software Developer"
        subTitle="@ The Boldt Company | Appleton, WI"
      />

      <RowEntry
        description="I've worked in computer service, as an EMT on a city's service, taught CPR, and completed an 8 year contract with the U.S. Army as a transportation and logistics officer and honorably discharged. Through it all I've been a problem solver who has had to adapt, learn, and apply new skills constantly."
        name="..."
        title="Plenty more"
        subTitle="@ Assorted"
      />
    </div>

    <!-- <div id="programming-experience" class="mb-6">
      <SectionTitle title="Relevant Programming Experience" />

      <RowEntry
        description="Developed an app for ordering food with Angular."
        name="07/2019 - 12/2019"
        title="Food ordering app"
      />
    </div> -->

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />

      <RowEntry
        description=""
        name="Sep 2002 — May 2007"
        title="B.S. B.A. Management Information Systems"
        subTitle="Michigan Technological University | Houghton, MI"
      />
    </div>

    <!-- <div id="skills" class="mb-6">
      <SectionTitle title="Skills and interests" />

      <RowEntry description="English, Spanish" name="Languages" />

      <RowEntry
        description="Technologies you're interested in..."
        name="Technologies"
      />

      <RowEntry
        description="Further interests beside tech stuff..."
        name="Interests"
      />
    </div> -->

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon
          icon="fa-solid:envelope"
          label="contact"
          url="https://edm00.se/contact"
        />
      </div>
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:github"
          label="github"
          url="https://github.com/edm00se"
        />
      </div>
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:linkedin"
          label="linkedin"
          url="https://www.linkedin.com/in/emccormick"
        />
      </div>
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:dev"
          label="dev"
          url="https://www.dev.to/edm00se"
        />
      </div>
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:stack-overflow"
          label="stack-overflow"
          url="https://stackoverflow.com/users/1720082/eric-mccormick"
        />
      </div>
      <div>
        <SocialIcon
          icon="ant-design:global-outlined"
          label="website"
          url="https://edm00se.codes/"
        />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
